{% extends "page.html" %}

{% block page_title %}{{ _('New User Statistics') }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
{% snippet 'user/snippets/breadcrumd_statistical.html' %}
<li class="statistical">
    <a href="/dashboard/statistical/user-dashboard">{{ _('User Statistics') }}</a>
</li>
<li class="active">
    <a href="/dashboard/statistical/new_user_stats">{{ _('New User Statistics') }}</a>
</li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
<div class="chart-selector-container">
    <h2 class="stat-title">{{ _('New User Statistics') }}</h2>
    <div class="stat-selector">
        <div>
            {% snippet 'user/snippets/filter_chart_user_statistic.html' %}
        </div>
    </div>
</div>

<form id="date-form" method="GET" action="/dashboard/statistical/new_user_stats">
    <div class="form-row">
        <div class="form-container">
            <div class="form-group">
                <label for="start-date">{{ _('From') }}</label>
                <input type="date" id="start-date" name="start_date" required
                    value="{{ date_list[0] if date_list else '' }}">
                <div id="start-date-error" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="end-date">{{ _('To') }}</label>
                <input type="date" id="end-date" name="end_date" required
                    value="{{ date_list[-1] if date_list else '' }}">
                <div id="end-date-error" class="text-danger mt-1"></div>
            </div>

            <div class="form-group">
                <label for="state">{{ _('State') }}</label>
                <select id="state" name="state">
                    <option value="active" {% if state=='active' %}selected{% endif %}>Active</option>
                    <option value="pending" {% if state=='pending' %}selected{% endif %}>Pending</option>
                </select>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary px-4">{{ _("Filter") }}</button>
        </div>
    </div>
</form>

<div id="chart-container">
    <canvas id="lineChart"></canvas>
</div>

<script>
    {% if urls_and_counts %}
    window.trackingData = {{ urls_and_counts | tojson }};
    {% else %}
    window.trackingData = [];
    {% endif %}
</script>

{% asset 'api_tracking/statistical_user-css' %}
{% asset 'api_tracking/statistical_new_user-js' %}
{% endblock %}