{% extends 'page.html' %}

{% block breadcrumb_content %}
  {% snippet 'user/snippets/breadcrumd_statistical.html' %}
{% endblock %}
{% block secondary %}

{% endblock %}
{% block primary %}
  <style>
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    
    .card {
      width: 16rem;
    }
  </style>

  <div class="container my-4 px-3">
    <div style="display: flex; align-items: center; margin-bottom: 16px;">
      {% snippet 'user/snippets/filter_chart_statistical.html' %}
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for card in h.get_statistical_cards() %}
        <div class="col">
          <div class="card h-100">
            <a href="{{ url_for(card.url) }}"><img src="{{ card.img_src }}" class="card-img-top" alt="{{ card.title }}" /></a>
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
