{% extends "page.html" %}
{% block page_title %}

{% endblock %}
{% block breadcrumb_content_selected %}

{% endblock %}

{% block breadcrumb_content %}
{% snippet 'user/snippets/breadcrumd_statistical.html' %}
  <li class="statistical">
    <a href="/dashboard/statistical/resource-dashboard">{{ _('Resource Statistics') }}</a>
  </li>
  <li class="active">
    <a href="/dashboard/statistical/statistical-org">{{ _('Organization Statistics') }}</a>
  </li>
{% endblock %}

{% block secondary %}{% endblock %}
{% block primary %}
{% asset 'api_tracking/dataset-css' %}
{% asset 'api_tracking/statistical_org-js' %}
<div class="container my-4 px-3">
  
  <div class="container rounded">
    <div class="d-flex justify-content-between">
      <h4 class="mb-4">{{ _("Filter Organization Datasets") }}</h4>
      <div class="col-md-4">
        {% snippet 'user/snippets/filter_chart_statistical.html' %}
      </div>
    </div>
    <hr class="mt-3" />
      <form class="formCss" id="tracking-form" action="{{ url_for('tracking_blueprint.statistical_org') }}" method="post">
        <div class="row mb-3">
          <div class="col-md-4">
              <label for="organization_name" class="form-label">{{ _("Organization Name") }}</label>
              <select style="line-height: 2.5;" name="organization_name" class="form-select">
                <option value="" {% if organization_name == None %}selected{% endif %}>{{ _("All") }}</option>  
                  {% for org in organization_list %}
                      <option value="{{ org }}" {% if org == organization_name %}selected{% endif %}>
                          {{ org }}
                      </option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-md-4">
              <label for="state" class="form-label">{{ _("State") }}</label>
              <select style="line-height: 2.5;" name="state" class="form-select">
                  <option value="" {% if state == None %}selected{% endif %}>{{ _("All") }}</option>  
                  <option value="active" {% if state == 'active' %}selected{% endif %}>{{ _("Active") }}</option>
                  <option value="draft" {% if state == 'draft' %}selected{% endif %}>{{ _("Draft") }}</option>
                  <option value="deleted" {% if state == 'deleted' %}selected{% endif %}>{{ _("Deleted") }}</option>
              </select>
          </div>
          <div class="col-md-4">
              <label for="private" class="form-label">{{ _("Private") }}</label>
              <select style="line-height: 2.5;" name="private" class="form-select">
                <option value="" {% if private == None %}selected{% endif %}>{{ _("All") }}</option>  
                <option value="true" {% if private == 'true' %}selected{% endif %}>{{ _("True") }}</option>
                <option value="false" {% if private == 'false' %}selected{% endif %}>{{ _("False") }}</option>
              </select>
            </div>
          </div>
          
          <div class="text-end">
            <button type="submit" class="btn btn-primary px-4">{{ _("Filter") }}</button>
          </div>
        </form>
      </div>

      {% snippet 'user/snippets/sort_chart_statistical.html' %}

   
    
    <!-- Dữ liệu datasets được inject vào đây -->
    <script>
        {% if datasets_org is not undefined and datasets_org is not none %}
            window.trackingData = {{ datasets_org | tojson }};
        {% else %}
            window.trackingData = [];
        {% endif %}
      </script>
{% endblock %}
