{% extends "page.html" %}
{% block page_title %}

{% endblock %}
{% block breadcrumb_content_selected %}


{% endblock %}

{% block breadcrumb_content %}
{% snippet 'user/snippets/breadcrumd_statistical.html' %}
  <li class="statistical">
    <a href="/dashboard/statistical/resource-dashboard">{{ _('Resource Statistics') }}</a>
  </li>
  <li class="active">
    <a href="/dashboard/statistical/statistical-api">{{ _('API Statistics') }}</a>
  </li>
{% endblock %}

{% block secondary %}{% endblock %}
{% block primary %}

{% asset 'api_tracking/statistical_api-js' %}
{% asset 'api_tracking/statistical_api-css' %}


<div class="container my-4 px-3">
  <div class="container rounded ">
    <div class="d-flex justify-content-between">
      <h4 class="mb-4">{{ _("Filter API Datasets") }}</h4>
      <div class="col-md-4">
        {% snippet 'user/snippets/filter_chart_statistical.html' %}
      </div>
    </div>
    <hr class="mt-3" />
    <form class="formCss" id="tracking-form" action="{{ url_for('tracking_blueprint.statistical_api') }}" method="post">
      <h4 class="mb-4">{{_("Filter API Datasets")}}</h4>
      
      <div class="row mb-3">
          <div class="col-md-6">
              <label for="start_time" class="form-label">{{_("Start time")}}</label>
              <input type="date" id="start_time" name="start_time" class="form-control" style="line-height: 2.5;" value="{{ start_time }}" max="{{ today }}">
              <div id="start-time-error" class="text-danger mt-1"></div>
          </div>
          <div class="col-md-6">
              <label for="end_time" class="form-label">{{_("End time")}}</label>
              <input type="date" id="end_time" name="end_time" class="form-control" style="line-height: 2.5;" value="{{ end_time }}" max="{{ today }}">
              <div id="end-time-error" class="text-danger mt-1"></div>
          </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="creator_select" class="form-label">{{ _("User Name") }}</label>
            <select name="creator_select" id="creator_select" class="form-control select2" style="line-height: 2.5;">
                {% if creators is defined and creators is iterable %}
                    {% for user in creators %}
                        <option value="{{ user.value }}" {% if user.value == creator_select %}selected{% endif %}>
                            {{ user.text }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        
        </div>
      
      <div class="text-end">

        

          <button type="submit" class="btn btn-primary px-4">{{_("Filter")}}</button>
      </div>
    </form>
  </div>
  <div class="container mt-5 p-4 border rounded shadow-sm bg-light">
    <div class="row g-0" style="display: flex; justify-content: flex-end; align-items: center;">
      <!-- Số lượng mục hiển thị
       <div class="col-md-4 mb-3" style="flex: 1; max-width: 100px; padding: 0;">
        <div class="form-group" style="font-size: 10px; margin: 0 5px; display: flex; flex-direction: column; align-items: center;">
          <input type="number" id="itemCount" min="1" max="1000" value="10" class="form-control" oninput="updateChartData()" style="height: 22px; font-size: 10px; padding: 2px 4px; width: 80px;" />
        </div>
      </div> 
      -->
     
      <!-- Sắp xếp 
        <div class="col-md-4 mb-3" style="flex: 1; max-width: 100px; padding: 0;">
        <div class="form-group" style="font-size: 10px; margin: 0 5px; display: flex; flex-direction: column; align-items: center;">
          <select id="sortOptions" class="form-select" onchange="sortData(this.value)" style="height: 22px; font-size: 10px; padding: 0px 2px; width: 80px;">
            <option value="asc">{{ _('Ascending') }}</option>
            <option value="desc">{{ _('Descending') }}</option>
            <option value="nameAsc">{{ _('A-Z') }}</option>
            <option value="nameDesc">{{ _('Z-A') }}</option>
          </select>
        </div>
      </div> 
      -->
    
      <!-- Loại biểu đồ -->
      <div class="col-md-4 mb-3" style="flex: 1; max-width: 100px; padding: 0;">
        <div class="form-group" style="font-size: 10px; margin: 0 5px; display: flex; flex-direction: column; align-items: center;">
          <select id="chartType" class="form-select" style="height: 22px; font-size: 10px; padding: 2px 4px; width: 80px;">
            <option value="bar">{{ _('Bar Chart') }}</option>
            <option value="line">{{ _('Line Chart') }}</option>
          </select>
        </div>
      </div>
    </div>

    
    <div class="row mb-3">
      <div class="col-md-12 mb-4">
          <label for="">Thống kê tổng API được truy cập</label>
          <canvas id="statisticsChart"></canvas>
      </div>
      <div class="col-md-12 mb-4">
          <label for="">Thống kê kích thước tài nguyên được tạo theo ngày</label>
          <canvas id="sizeChart"></canvas>
      </div>
      <div class="col-md-12 mb-4">
          <label for="">Thống kê kích thước tài nguyên được tạo theo tên resources</label>
          <canvas id="resourceSizeChart"></canvas>
      </div>
  </div>
  
</div>
</div>
</div>
</div>
<script>
  {% if static_api is not undefined and static_api is not none %}
      window.trackingData = {{ static_api | tojson }};
  {% else %}
      window.trackingData = [];
  {% endif %}
</script>
  {% endblock %} 

  