{% extends "page.html" %}

{% block breadcrumb_content %}
{% snippet 'user/snippets/breadcrumd_statistical.html' %}
  <li class="statistical">
    <a href="/dashboard/statistical/resource-dashboard">{{ _('Resource Statistics') }}</a>
  </li>
  <li class="active">
    <a href="/dashboard/statistical/statistical-tracking">{{ _('Group Statistics') }}</a>
  </li>
{% endblock %}

{% block secondary %}{% endblock %}
{% block primary %}

{% asset 'api_tracking/dataset-css' %}
{% asset 'api_tracking/statistical_field-js' %}
<div class="container my-4 px-3">
  
  <div class="container rounded">
    <div class="d-flex justify-content-between">

      <h4 class="mb-4">{{ _("Filter Field Datasets") }}</h4>
      <div class="col-md-4">
        {% snippet 'user/snippets/filter_chart_statistical.html' %}
      </div>
    </div>
    <hr class="mt-3" />

  <form class="formCss" id="tracking-form" action="{{ url_for('tracking_blueprint.statistical_field') }}" method="post">
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="fieldName" class="form-label">{{ _("Field Name") }}</label>
        <select style="line-height: 2.5;" id="fieldName" name="field_name" class="form-select" multiple>
          <option value="" {% if field_name == [""] %}selected{% endif %}>{{ _("All Fields") }}</option>
          {% for field in tag_list %}
            <option value="{{ field }}" {% if field in field_name %}selected{% endif %}>
              {{ field }}
            </option>
          {% endfor %}
        </select>
      </div>
      

      <div class="col-md-4">
        <label for="state" class="form-label">{{ _("State") }}</label>
        <select style="line-height: 2.5;" id="state" name="state" class="form-select" style="line-height: 2.5;">
          <option value="" {% if state == None %}selected{% endif %}>{{ _("All") }}</option>
          <option value="active" {% if state == 'active' %}selected{% endif %}>{{ _("Active") }}</option>
          <option value="draft" {% if state == 'draft' %}selected{% endif %}>{{ _("Draft") }}</option>
          <option value="deleted" {% if state == 'deleted' %}selected{% endif %}>{{ _("Deleted") }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="private" class="form-label">{{ _("Private") }}</label>
        <select style="line-height: 2.5;" id="private" name="private" class="form-select" style="line-height: 2.5;">
          <option value="" {% if private == None %}selected{% endif %}>{{ _("All") }}</option>
          <option value="true" {% if private == 'true' %}selected{% endif %}>{{ _("True") }}</option>
          <option value="false" {% if private == 'false' %}selected{% endif %}>{{ _("False") }}</option>
        </select>
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-primary px-4">{{ _("Filter") }}</button>
    </div>
  </form>
</div>

<div class="container mt-5 p-4 border rounded shadow-sm bg-light">
  {% snippet 'user/snippets/sort_chart_statistical.html' %}
</div>
    <!-- Dữ liệu datasets được inject vào đây -->
    <script>
        {% if datasets_field is not undefined and datasets_field is not none %}
            window.trackingData = {{ datasets_field | tojson }};
        {% else %}
            window.trackingDapta = [];
        {% endif %}
      </script>
{% endblock %}
