{% extends 'page.html' %}

{% block page_title %}

{% endblock %}

{% block breadcrumb_content_selected %}

{% endblock %}

{% block breadcrumb_content %}
  <li class="dashboard">
    <a href="/dashboard/datasets">{{ _('Dashboard') }}</a>
  </li>
  <li class="statistical">
    <a href="/dashboard/statistical">{{ _('Statistics') }}</a>
  </li>
  <li class="active">
    <a href="/dashboard/statistical/user-dashboard">{{ _('User Statistics') }}</a>
  </li>
{% endblock %}

{% block secondary %}

{% endblock %}

{% block primary %}
  <style>
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    
    .card {
      width: 16rem;
    }
  </style>
  <div class="container my-4 px-3">
    <div style="display: flex; align-items: center; margin-bottom: 16px;">
      {% snippet 'user/snippets/filter_chart_user_statistic.html' %}
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!-- Card 1 -->
      <div class="col">
        <div class="card h-100">
          <a class="" href="/dashboard/statistical/new_user_stats"><img src="/1.png" class="card-img-top" alt="Card 1" /></a>
          <div class="card-body">
            <h5 class="card-title">{{ _('New User Statistics') }}</h5>
            <p class="card-text">{{ _('Statistics of new users (new accounts created) over time') }}</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col">
        <div class="card h-100">
          <a class="" href="/dashboard/statistical/user_login_stats"><img src="/2.png" class="card-img-top" alt="Card 2" /></a>
          <div class="card-body">
            <h5 class="card-title">{{ _('User login statistics') }}</h5>
            <p class="card-text">{{ _('Statistics of user logins by time and user.') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
