.custom-col {
    flex: 1;
    max-width: 100px;
    padding: 0;
}

.form-group .custom-form-group {
    font-size: 10px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
}


#noResourceMessage {
    display: none;
}