<div class="d-flex align-items-center justify-content-end">
   <div class="text-center"> 
    <label for="adadad">{{ _("Other Statistical") }}</label>
  </div>
  <div class="ms-3">
    <select id="statistics_select" class="form-select">
      <option value="/dashboard/statistical/resource-dashboard">All Statistics</option>
      <option value="/dashboard/statistical/statistical-org">Organization Statistics</option>
      <option value="/dashboard/statistical/statistical-field">Group Statistics</option>
      <option value="/dashboard/statistical/statistical-datatypes">Datatypes Statistics</option>
      <option value="/dashboard/statistical/statistical-tracking">Tracking Statistics</option>
      <option value="/dashboard/statistical/statistical-api">API Statistics</option>
    </select>
  </div>
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const statisticsSelect = document.getElementById('statistics_select');
    
    // Đặt giá trị mặc định dựa trên URL hiện tại
    const currentUrl = window.location.pathname;
    Array.from(statisticsSelect.options).forEach(option => {
      if (option.value === currentUrl) {
        option.selected = true;
      }
    });
  
    // Lắng nghe sự kiện thay đổi (change) trên dropdown
    statisticsSelect.addEventListener('change', function () {
      const selectedValue = this.value;
      if (selectedValue) {
        // Chuyển hướng người dùng đến URL tương ứng
        window.location.href = selectedValue;
      }
    });
  });
</script>