{% asset 'api_tracking/filter_chart-js' %}
{% asset 'api_tracking/dataset-css' %}
<div class="d-flex align-items-center justify-content-end">
  <!-- Label trung tâm -->
  <div class="text-center css-width">
    <label for="statistics_select">{{_("Other Statistical")}}</label>
  </div>
  <!-- Dropdown lựa chọn -->
  <div class="ms-3">
    <select id="statistics_select" class="form-select">
      {% for option in h.get_statistics_options_user() %}
        <option value="{{ option['value'] }}" {% if option['selected'] %}selected{% endif %}>
          {{ option['label'] }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

