{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=180) %}

{% block package_item %}
<div class="{{ item_class or " dataset-item" }}">
  {% block content %}
  <div class="dataset-content">
    {% block heading %}
    <h2 class="dataset-heading">
      {% block heading_private %}
      {% if package.private %}
      <span class="dataset-private badge bg-secondary">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
      {% endif %}
      {% endblock %}
      {% block heading_title %}
      <div class="data-card">
        <div class="card-header">
          <div class="organization-info">
            <img src="{{ h.get_org_img_url_by_id(package.owner_org) }}" alt="Organization Logo" class="org-logo">
            <div class="org-details">
              <a>
                <span class="org-name">{{ h.get_org_name_by_id(package.owner_org) }}</span>
              </a>
              <span class="org-type">
                {{ h.get_org_type_by_id(package.owner_org) }}
            </span>
            </div>
          </div>
          <div class="card-actions">
            <button title="Chia sẻ">
              <i class="fas fa-share-alt"></i>
            </button>
            <button title="Xem chi tiết">
              <a>
                <i class="fas fa-external-link-alt"></i>
              </a>
            </button>
          </div>
        </div>
        <div class="card-body">
          <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
            <h3>{{ title|truncate(80) }}</h3>
          </a>
          {% block notes %}
          {% if notes %}
          <div><p>{{ notes|urlize }}</p></div>
          {% else %}
          <p class="empty">{{ h.humanize_entity_type('package', package.type, 'no description') or _("There is no
            description
            for this dataset") }}</p>
          {% endif %}
          {% endblock %}

          <div class="dataset-resources">
            {% block package_resources %}
            {% snippet "package/snippets/custom_resources_list.html", pkg=package, resources=package.resources %}
            {% endblock %}
          </div>
        </div>
        <div class="card-footer">
          <div class="metadata">
            <span><i class="far fa-calendar"></i> Cập nhật: 19/12/2024</span>
            <span><i class="fas fa-download"></i> 1,234 lượt tải</span>
            <span><i class="fas fa-star"></i> 4.5/5 (128 đánh giá)</span>
          </div>
          <div class="tags">
            <span class="tag">Nông nghiệp</span>
            <span class="tag">Thống kê</span>
            <span class="tag">Sản xuất</span>
          </div>
        </div>
        {% endblock %}
    </h2>
    {% endblock %}

  </div>
  {% endblock %}
</div>
{% endblock %}