<div class="dataset-resources">
    <h4>{{ _('Data and Resources') }}</h4>
    {% block resource_list %}
    {% if resources %}
    <div class="resource-list">
        {% block resource_list_inner %}
        {% set can_edit = can_edit or h.check_access('package_update', {'id':pkg.id }) %}
        {% for resource in resources %}
        {% snippet 'package/snippets/custom_resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
        {% endfor %}
        {% endblock %}
    </div>
    {% else %}
    {% block resource_list_empty %}
    {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
    {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
    <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
    {% endtrans %}
    {% else %}
    <p class="empty">{{ _('This dataset has no data') }}</p>
    {% endif %}
    {% endblock %}
    {% endif %}
    {% endblock %}
</div>

<style>
    .resource-list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 150px;
        overflow-y: auto; 
    }

    .dataset-resources {
        margin-top: 20px;
    }

    .dataset-resources h4 {
        font-size: 1.1rem;
        margin-bottom: 12px;
        color: #000000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    }
</style>