{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = url or h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

<div class="resource-item" data-id="{{ res.id }}">
  <div class="resource-info">
    {% block resource_item_title %}

    <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{
      h.get_translated(res, 'format') }}</span>
    <div class="resource-details">
      <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
        <h5>
          {{ h.resource_display_name(res) | truncate(50) }}
          {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
        </h5>
        {% block resource_item_description %}
        <span class="resource-meta">
          {% if res.description %}
          {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
          {% endif %}
        </span>
        {% endblock %}
      </a>
    </div>
    {% endblock %}
  </div>
  <div class="resource-actions">
    {% block resource_item_actions %}
    <a href="{{ url }}">
      <button class="btn-preview">
        {% if res.has_views %}
        <i class="fa fa-chart-bar"></i>
        {{ _('') }}
        {% else %}
        <i class="fas fa-eye"></i>
        {{ _('') }}
        {% endif %}
      </button>
    </a>

    {% if res.url and h.is_url(res.url) %}
    <a href="{{ res.url }}">
      <button class="btn-download" href="{{ res.url }}" target="_blank" rel="noreferrer">
        {% if res.has_views or res.url_type == 'upload' %}
        <i class="fas fa-download"></i>
        {{ _('') }}
        {% else %}
        <i class="fa fa-external-link"></i>
        {{ _('') }}
        {% endif %}
      </button>
    </a>
    {% endif %}
    {% endblock %}
  </div>

</div>